* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box
}


h1 {
	text-align: center;
	font-size: 30px;
}



#box1 {
	position: relative;
	background: grey;
	height: 30%;
	width:30%;
	float: left;
	border: 1px solid black;
    margin: 10px;
    padding: 5px;


}
#p1 {

 	position: absolute top right;
 	background color: blue;
 	border: 1px solid black;
 	text-align: right;
 	size: 100px;


 } 

#p2 {

 	position: absolute top right;
 	background color: green;
 	border: 1px solid black;
 	text-align: right;
 	size: 100px;


 } 
#p3 {

 	position: absolute top right;
 	background color: pink;
 	border: 1px solid black;
 	text-align: right;
 	size: 100px;


 } 

#content {
	color: black;
	border-width: 1px;
	border-color: black;

}


/********** Desktop view only **********/
@media (min-width: 992px) {
  .col-dp-1, .col-dp-2, .col-dp-3, .col-dp-4, .col-dp-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
  }
  .col-dp-1 {
    width: 8.33%;
  }
  .col-dp-2 {
    width: 16.66%;
  }
  .col-dp-3 {
    width: 25%;
  }
  .col-dp-4 {
    width: 33.33%;
  }
  .col-dp-5 {
    width: 41.66%;
  }
  .col-dp-6 {
    width: 50%;
  }
  .col-dp-7 {
    width: 58.33%;
  }
  .col-dp-8 {
    width: 66.66%;
  }
  .col-dp-9 {
    width: 74.99%;
  }
  .col-dp-10 {
    width: 83.33%;
  }
  .col-dp-11 {
    width: 91.66%;
  }
  .col-dp-12 {
    width: 100%;
  }
}

/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/********** Mobile View **********/
@media (min-width: 767px)  {
  .col-mv-1, .col-mv-2, .col-mv-3, .col-mv-4, .col-mv-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-mv-1 {
    width: 8.33%;
  }
  .col-mv-2 {
    width: 16.66%;
  }
  .col-mv-3 {
    width: 25%;
  }
  .col-mv-4 {
    width: 33.33%;
  }
  .col-mv-5 {
    width: 41.66%;
  }
  .col-mv-6 {
    width: 50%;
  }
  .col-mv-7 {
    width: 58.33%;
  }
  .col-mv-8 {
    width: 66.66%;
  }
  .col-mv-9 {
    width: 74.99%;
  }
  .col-mv-10 {
    width: 83.33%;
  }
  .col-mv-11 {
    width: 91.66%;
  }
  .col-mv-12 {
    width: 100%;
  }
}